*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
:root{
    --text-clr-code: #222222;
}
.card {
    max-width: 500px;
    background: linear-gradient(125deg, #aabb2c, #221a55);
    color: #fff;
    margin: 6.25rem auto;
    padding: 1.7rem;
    border-radius: 20px;
    text-align: center;
}
.search-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-container input{
    padding: 0.2rem 1rem;
    border: 0;
    outline: 0;
    margin-right: 2rem;
    height: 3rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    flex: 1;
}
.search-container button{
    border: 0;
    outline: 0;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.search-container button img {
    width: 1.45rem;
    position: relative;
    top: 2px;
}
#weather-icon{
    width: 10em;
}
#weather-name{
    color: var(--text-clr-code);
    letter-spacing: 1px;
    font-size: 2rem;
    margin-top: -16px;
    margin-bottom: 1rem;
}
#temp{
    font-size: 5rem;
    margin-top: -8px;
    color: var(--text-clr-code);
}
#city{
    font-size: 3rem;
    color: var(--text-clr-code);
    margin-top: -7px;
    letter-spacing: 2px;
}
.weather-details{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1.2rem;
}
.col{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.col img{
    width: 3.6rem;
}
.col p{
    font-size: 1.2rem;
    text-align: left;
    margin-left: 0.8rem;
    color: aliceblue;
    font-weight: 500;
}
.error{
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin: 1rem;
    color: var(--text-clr-code);
    font-weight: bold;
    display: none;
}
#weather{
    display: none;
}
@media all and (max-width: 440px) {
    .search-container{
        display: block;
    }
    .search-container button {
        margin-top: 1rem;
    }
    .col img{
        width: 2rem;
    }
    .col p{
        font-size: 1rem;   
    }
}